
<label class="toggle-switch">
  <input type="checkbox" class="toggle-switch-input" id="{{ id }}" {% if checked %}checked{% endif %}>
  <span class="toggle-switch-slider"></span>
  {% if label %}
    <span class="toggle-switch-label">{{ label }}</span>
  {% endif %}
</label>
